.event-img {
  width: 100%;
  object-fit: cover;
  height: 300px;
}

// Scroll Menu

div.scrollmenu {
  overflow: auto;
  white-space: nowrap;
  flex-wrap: nowrap;
}

.scrollsubmenu {
  display: inline-block;
  color: white;
  text-decoration: none;
  width: 150px;
}

.event-title {
  font-size: 16px;
}

// Reward

.reward-card {
  background: #0000001f;
  border: solid #ffffff0d;
  background-position: center;
  background-size: cover;
  height: 100px;
  width: 150px;
  border-radius: 4px;
  margin-bottom: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.event-reward {
  font-size: 12px;
  white-space: initial;
}

// Participations

.participation-img {
  object-fit: cover;
  object-position: top;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.box {
  padding-bottom: 100%;
  border-radius: 50%;
}

.col-lg-2, .col-md-3, .col-xs-6{
  margin-top: 30px !important;
}


// Container
.container-event {
  position: relative;
}

// Overlay
.overlay-image {
  position: absolute;
  z-index: 10;
  width: 100%;
  height: 100%;
  top: 0;
}


body {
  background-color: #0E222B;
}

// p events
.paragraph-event {
  color: #8b9aa0;
  font-size: 14px;
  margin: 0;
}

.participant-img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 100px;
  margin-left: -15px;
  border: solid white;
  padding: 0px;
}

.participant-div {

}
