.event-img {
  width: 100%;
  object-fit: cover;
  height: 300px;
}

// Scroll Menu

div.scrollmenu {
  overflow: auto;
  white-space: nowrap;
  flex-wrap: nowrap;
}

.top-scrollsubmenu {
  display: inline-block;
  color: white;
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  .top-event-card {
    width: 32vh;
  }
  .scroll-event-card{
    width: 20vh;
  }
}

.scrollsubmenu {
  display: inline-block;
  color: white;
  text-decoration: none;
  width: 20vh;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  .top-event-card {
    width: 32vh;
  }
  .scroll-event-card{
    width: 20vh;
  }
}

.event-title {
  font-size: 16px;
}

// Reward

.reward-card {
  background: #0000001f;
  border: solid #ffffff0d;
  background-position: center;
  background-size: cover;
  height: 100px;
  width: 150px;
  border-radius: 4px;
  margin-bottom: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.event-reward {
  font-size: 12px;
  white-space: initial;
}

// Participations

.participation-img {
  object-fit: cover;
  object-position: top;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.box {
  padding-bottom: 100%;
  border-radius: 50%;
}

.col-lg-2, .col-md-3, .col-xs-6{
  margin-top: 30px !important;
}


// Container
.container-event {
  position: relative;
}

// Overlay
.overlay-image {
  position: absolute;
  z-index: 10;
  width: 100%;
  height: 100%;
  top: 0;
}


body {
  background-color: $gray-background;
}

// p events
.medium-gray {
  color: $medium-gray;
}

.paragraph-event {
  color: $medium-gray;
  font-size: 14px;
  margin: 0;
  white-space: break-spaces;
}

.participant-img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 100px;
  margin-left: -15px;
  border: solid white;
  padding: 0px;
}

.cta {
  background-color: $primary;
  color: white;
  padding: 10px 40px;
  border-radius: 30px;
  border: none;
}

.div-cta {
  display: flex;
  flex-direction: column;
  align-content: center;
  position: fixed;
  align-items: center;
  bottom: 60px;
  width: 100%;
  left: 0px;
}
