// Specific CSS for your home-page
.title {
  text-align: center;
  padding: 15px;
  background-color: $gray-background;
  color: white;
  font-size: 30px;
}

.container {
  // border-top: solid 1px;
  margin: 15px auto;
  width: 90%;
}

h3 {
  padding-top: 5px;
  padding-left: 10px;
}

// SCROLL

div.scrollmenu {
  overflow: auto;
  white-space: nowrap;
  flex-wrap: nowrap;
}

.event-title {
  font-size: 16px;
  white-space: initial;
  font-weight: 600;
}

// TOP 10

.section-title {
  color: white;
  margin-top: 15px;
  margin-bottom: 0px;
  font-size: 22px;
  padding-left: 0px;
  text-align: start;
}

.top-numbers {
  position: absolute;
  font-size: 80px;
  top: 108px;
  left: 9px;
  font-family: 'Climate Crisis', cursive;
  -webkit-text-stroke: 2px #fff;
  color: #ff2e63;
}

.top-scrollsubmenu {
  display: inline-block;
  color: white;
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin-bottom: 12px;
  .top-event-card {
    // width: fit-content;
    width: auto;
    object-fit: contain;
    height: 180px;
    margin-top: 6px;
    // border-top-left-radius: 10px;
    // border-top-right-radius: 10px;
  }
}

.scrollsubmenu {
  display: inline-block;
  color: white;
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  .scroll-event-card{
    // width: fit-content;
    width: auto;
    object-fit: contain;
    height: 120px;
    margin-top: 6px;
    margin-bottom: 12px;
    // border-top-left-radius: 8px;
    // border-top-right-radius: 8px;
  }
}

.scroll-event-title {
  font-size: 16px;
  margin: 0px;
  text-align: start;
  color: $home-title;
}

.scroll-event-dates {
  font-size: 12px;
  color: #d8d8d8;
  font-weight: lighter;
}

// MODAL

.back {
  position: absolute;
  top: 15px;
  left: 15px;
  color: white;
  z-index: 11;
  font-size: 24px;
}

.event-card {
  width: 100%;
  background-color: rgb(255, 255, 255);
  margin-top: 20px;
  border-radius: 5px;
  height: 220px;
  background-color: #00000024;
  color: black;
  img {
    width: 100%;
    height: 120px;
    object-fit: cover;
    border-radius: 5px;
  }
}

.event-description {
  margin-left: 10px;
  margin-right: 10px;
  padding-bottom: 3px;
  font-size: small;
  text-align: justify;
}

.event-modal {
  height: 0vh;
  color: white;
  position: fixed;
  bottom: 0;
  left: 0;
  // background-color: white;
  background-color: $gray-background;
  z-index: 1021;
  // opacity: 0;
  transition: height ease 0.5s;
  // width: 0;
  img {
    // width: 100%;
    // height: 200px;
    // object-fit: contain;
    // border-radius: 5px;
  }
  &.active {
    height: calc(100vh);
    opacity: 1;
    width: 100vw;
  }
}

.gen-infos {
  display: flex;
  flex-direction: column;
  margin-bottom: 45px;
  p {
    white-space: break-spaces;
    margin: 0px;
  }
  .dev {
    background-color: whitesmoke;
    border-radius: 5px;
    padding: 15px;
  }
}

.event-modal.active .wrapper-relative {
  position: relative;
  height: 100%;
  overflow: scroll;
}

.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #670BFF;
  display: flex;
  justify-content: center;
  margin: 20px;
}

.btn-flat:hover {
  background: #a50bff;
  color: white;
}

.flashy {
  color: #ff2e63;
}

.highlight-container, .highlight {
  position: relative;
}

.highlight-container {
  display: inline-block;
}

.highlight-container:before {
  content: " ";
  display: block;
  height: 13px;
  width: 112%;
  margin-left: -3px;
  margin-right: -3px;
  position: absolute;
  background: #ff2e63;
  transform: rotate(3deg);
  top: 9px;
  left: -1px;
  border-radius: 20% 25% 20% 24%;
  padding: 10px 3px 3px 10px;
}

.menu-highlight-container-2:before {
  content: " ";
  display: block;
  height: 31px;
  width: 112%;
  margin-left: -3px;
  margin-right: -3px;
  position: absolute;
  background: #ff2e63;
  transform: rotate(3deg);
  top: -3px;
  left: -1px;
  border-radius: 20% 25% 20% 24%;
  padding: 10px 3px 3px 10px;
}

.menu-highlight-container, .highlight {
  position: relative;
}

.menu-highlight-container {
  display: inline-block;
}

.menu-highlight-container-2, .highlight {
  position: relative;
}

.menu-highlight-container-2 {
  display: inline-block;
}

.menu-highlight-container:before {
  content: " ";
  display: block;
  height: 31px;
  width: 112%;
  margin-left: -3px;
  margin-right: -3px;
  position: absolute;
  background: #ff2e63;
  transform: rotate(3deg);
  top: 9px;
  left: -1px;
  border-radius: 20% 25% 20% 24%;
  padding: 10px 3px 3px 10px;
}

.rewards-event {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
