.menu-bar {
  border-bottom: 0.25rem solid #FF2E63;
}

.form-bottom {
  flex-direction: column;
  display: flex;
  margin-top: 15px;
  margin-bottom: 15px;
}

.container {
  margin-bottom: 15px;
  border-top: solid 1px;
}
