  <div class="d-flex flex-column align-items-center justify-content-center" style="width: 100%; margin-top: 35%">
    <div class="" style="width: 80%;background-color: white;padding: 20px">
      <% qrcode = RQRCode::QRCode.new("#{root_url}#{challenge_path[1..-1]}/rewards/qrcode?target_id=#{current_user.id}")
      # NOTE: showing with default options specified explicitly
      svg = qrcode.as_svg(
        color: "000000",
        shape_rendering: "crispEdges",
        module_size: 11,
        standalone: true,
        use_path: true,
        viewbox: true,
      )
      %>
      <%= svg.html_safe %>
    </div>
    <h4 class="mt-4 text-light">Your QRCODE</h4>
  </div>
