<div class="px-3 border-0 text-white">
  <div data-controller="toggle-element">

    <% unless params[:controller] == "challenges" && params[:action] == "show" || params[:controller] == "rewards" %>

      <div class="d-flex navbar-menu justify-content-between">
        <div class="d-flex flex-column justify-content-center">
          <i class="fa fa-bars"
            data-action="click->toggle-element#menuactive"
            data-toggle-element-target="menuactive"
            style="font-size:calc(1.275rem + 0.3vw)"></i>
        </div>
        <%= image_tag("logos/logo-em-flashy.png", :style => "width:120px; height:auto") %>
        <div> </div>
      </div>


      <div class="event-channel" data-toggle-element-target="modal">
        <i
          class="fa-solid fa-chevron-left"
          data-action="click->toggle-element#menuactive"
          data-toggle-element-target="menuactive"
          style="font-size:calc(1.275rem + 0.3vw);
                  top: 0px;
                  position: fixed;
                  padding: 16px;
                  left: 0;"
        ></i>

        <%= link_to root_path do %>
          <% if params[:controller] == "pages" && params[:action] != "dashboard" || params[:controller] == "participations" && params[:action] == "index" %>
            <span class="menu-highlight-container"><span class="highlight">Home Page</span></span>
          <% else %>
            <span>Home Page</span>
          <% end %>
        <% end %>

        <%= link_to current_event_path do %>
          <% if params[:controller] == "events" || params[:controller] == "relationships" || params[:controller] == "challenges" %>
            <span class="menu-highlight-container"><span class="highlight">My Event</span>
          <% else %>
            <span>My Event</span>
          <% end %>
        <% end %>

        <%= link_to dashboard_path do %>
          <% if params[:action] == "dashboard" %>
            <span class="menu-highlight-container"><span class="highlight">My Profile</span>
          <% else %>
            <span>My Profile</span>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
