<div id="astro-modal" class="hidden">
  <div class="astro-modal-backdrop">
    <span class="close-button">
      <i class="fa-solid fa-xmark"></i>
    </span>
    <div class="astro-modal-body no-scrollbar">
      <div class="astro-modal-content">
        <!-- LOADER (genre spinner) -->
      </div>
    </div>
  </div>
</div>
