<div class="container border-0">
  <div class="row">
    <% participations.each do |participation| %>
      <div class="col-6">
          <div class="box my-2">
          </div>
      </div>
    <% end %>
  </div>
</div>
