<div class="participant-div mt-3">
    <div class="row ps-3 m-0">
    <% count = 0 %>
      <% participations.where.not(user: current_user).each do |participation| %>
        <img class="participant-img" src="<%= participation.user.photos.first.url %>" alt="">
        <% count +=1 %>
      <% end %>
    </div>
</div>
