<div class="rewards-event px-3">
  <% rewards.each do |reward| %>
    <div class="mt-3 me-3" style="height: auto; width: 150px;">
        <div class="reward-card", style="background-image: url(<%= cl_image_path reward.photo.key, width: 300, crop: :fill %>); background-position: center; background-size: cover;">
        </div>
      <h4 class="event-title m-0 text-white"><%= reward.title.capitalize %></h4>
      <div class="event-reward d-inline-block text-white"><%= reward.description %></div>
    </div>
  <% end %>
</div>
