<div class="scrollmenu">
  <% rewards.each do |reward| %>
    <div class="col-2 mt-3 me-2 pb-3 scrollsubmenu">
        <div class="reward-card">
          <h4 class="event-title"><%= reward.title.capitalize %></h4>
          <span class="event-reward">Reward: <%= reward.reward.capitalize %></span>
        </div>
    </div>
  <% end %>
</div>
