<div class="sticky-top title">
  <h4>Even meet</h4>
</div>

<p class="d-flex justify-content-center">
  <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
    Search events
  </a>
</p>
<div class="collapse" id="collapseExample">
<div class="search">
  <%= render "shared/search_form" %>
</div>
</div>


<div class="container">
    <%= render 'event_card', events: @events %>
</div>
