<div class="sticky-top title">
  <h4>Even meet</h4>
</div>


<div class="search">
  <%= render "shared/search_form" %>
</div>

<div class="container">
    <%= render 'event_card', events: @events %>
</div>
