<% if challenge.relationship.receiver.user == current_user %>
  <% target = challenge.relationship.sender %>
<% else %>
  <% target = challenge.relationship.receiver %>
<% end %>

<div class="container radar"
  data-controller="radar"
  data-challenge-subscription-challenge-id-value="<%= @challenge.id %>"
>

<div class="coordinates" data-challenge-subscription-target="coordinates">
  <% target. do |message| %>
    <%= render "messages/message", message: message %>
  <% end %>
</div>
