.navbar-menu {
  position: fixed;
  top: 0px;
  left: 0px;
  padding: 16px;
  width: 100%;
  z-index: 1;
  background: $gray-background;
}

.event-channel {
  display: flex;
  flex-direction: column;
  background: rgba(0, 0, 0, 0.099);
  backdrop-filter: blur(8px);
  height: calc(100vh - 64px);;
  position: fixed;
  transform: translateX(-100vh);
  transition: transform 0.5s ease-in-out;
  &.active {
    height: 100vh;
    width: 100%;
    transform: translateX(0);
    left: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 0px;
    z-index: 20;
  }

  a {
    color: white;
    text-decoration: none;
    margin: 10px;
    font-size: 28px;
    text-shadow: 1px 1px #0e000057;
  }
}

.menu-active {
  z-index: 30;
}
