.msg {
  border-radius: 10px;
  min-width: 220px;
  .img {
    height: 50px;
    width: 50px;
    object-fit: cover;
    border-radius: 50%;
  }
}

.msg.left {
  background-color:#3f3340;
  color: rgb(128, 123, 123);
}

.msg.right {
  background-color:#a32abc;
  color: white;
}
