.search-form {
  margin-top: 5px;
  padding: 5px;
  overflow: hidden;
  background: transparent;
  border-bottom: 3px solid white;
  input {
    background-color: transparent;
    color: white;
  }
}

.search-bar {
  border: none;
  margin-left: 10px;
  width: 350px;
  border-radius: 15px;

  &:focus {
    outline: none;
    background-color: #ffffff00;
  }
}

.search-button {
  background-color: transparent;
  border: none;
  border-radius: 50%;
  padding: 0;
}

.search-button i {
  padding: 10px;
  font-size: 30px;
  color: white;
}
